footer {
	padding-top: 70px;
	padding-bottom: 75px;
	background-color: black;

	#footer-logo {
		margin-bottom: 33px;
	}

	#footer-links {
		list-style-type: none;
		li {
			a {
				color: white;
				text-decoration: none;
			}
		}
	}

	#footer-text {
		color: #7a7a7a;
		a {
			color: aqua;
		}
	}
}
